* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    background-color: black;
    padding: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    gap: 5px;

}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

header {
    grid-column:1 / span 4;
    height: 40px;
}

nav {
    grid-column: 1 / span 4;
    height: 40px;
}

aside {
    grid-column: 1 / span 1;
    height: 70vh;
}

main {
    grid-column: 2 / span 3;
}

footer {
    grid-column: 1 / span 4;
    height: 30vh;
}




/* container-2 stillari*/

.container_2 {
    min-height: 100vh;
    background-color: black;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.card_2 {
    height: 300px;
    background-color: #fff;
}